* {
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;

    --md-sys-color-primary: #00629e;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #cfe5ff;
    --md-sys-color-on-primary-container: #001d34;
    --md-sys-color-surface: #fcfcff;
    --md-sys-color-on-surface: #1a1c1e;
    --md-sys-color-surface-variant: #dee3eb;
    --md-sys-color-on-surface-variant: #42474e;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;

    --bg-color: #F5F5F5;
    --text-secondary-color: #42474e;
    --link-color: #001d34;
    --md-sys-color-surface-container: #fcfcff;
    --md-sys-color-surface-container-highest: #F5F5F5;
}

[data-theme="dark"] {
    --md-sys-color-primary: #9acbff;
    --md-sys-color-on-primary: #003355;
    --md-sys-color-primary-container: #004a79;
    --md-sys-color-on-primary-container: #cfe5ff;
    --md-sys-color-surface: #1f2224;
    --md-sys-color-on-surface: #e2e2e5;
    --md-sys-color-surface-variant: #42474e;
    --md-sys-color-on-surface-variant: #c2c7cf;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-surface-container: #1a1c1e;
    --md-sys-color-surface-container-highest: #1f2224;

    --bg-color: #1a1c1e;
    --text-secondary-color: #929397;
    --link-color: #e2e2e5;
}

#home-card, #card-skills, #about, #contact {
    margin-bottom: 30px;
}

body {
    background-color: var(--bg-color);
}

#theme {
    color: var(--text-color);
    font-size: 40px;
}

#navbar {
    width: 100%;
    position: fixed;
    transition: 0.3s linear;
    z-index: 40;
    background-color: var(--bg-color);
    color: var(--md-sys-color-on-surface);
    border: 1px var(--md-sys-color-on-surface) solid;
    #container-top {
        display: flex;
        justify-content: space-evenly;
    }
}

.active{
    top: 0;
}

.hidden{
    top: -123px;
}

#nav-profile {
    a {
        text-decoration: none;
        color: var(--md-sys-color-on-surface);
    }
    a:nth-child(2) {
        width: 100%;
    }
    display: flex;
    align-items: center;
    img {
        width: 70px;
        box-shadow: 0 0 3px black;
    }
    h1 {
        margin-left: 3%;
        font-size: 20px;
    }
}

.profile {
    border-radius: 50%;
    box-shadow: 0 0 6px black;
}

//noinspection CssInvalidHtmlTagReference
md-outlined-card {
    --md-card-padding: 16px;
}

#home-card, #card-skills, #about, #contact{
    width: 90%;
    margin-left: 5%;
    color: var(--md-sys-color-on-surface);
}

#home-card {
    margin-top: 118px;
    h2 {
        font-weight: normal;
    }
}

.container {
    text-align: center;
}

#card-skills {
    text-align: center;
    h2 {
        font-size: 30px;
        margin-top: 15px;
    }
    .skill-image {
        width: 35px;
        height: 35px;
    }
}

.skill-card  span {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    h1 {
        margin-top: 15px;
    }
    h2 {
        font-size: 28px;
    }
    h2:nth-of-type(2) {
        margin-bottom: 20px;
    }
    h3 {
        margin-bottom: 20px;
        font-size: 21px;
    }
    p {
        font-size: 18px;
        text-align: justify;
        width: 70%;
        margin-left: 15%;
    }
    #instruction {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        a {
            text-decoration: none;
        }
    }
    md-divider {
        width: 70%;
        margin: 20px 0 20px 15%;
    }
}

#contact {
    h1 {
        text-align: center;
        margin: 15px 0 11px;
    }
    h2 {
        #icon-rocket {
            margin-bottom: -3px;
        }
        text-align: center;
        margin: 0 0 15px 0
    }
    #contact-container {
        display: flex;
        justify-content: space-around;
        #details {
            margin: 0 5%;
            h3 {
                font-size: 1.5em;
            }
            .details-item {
                display: flex;
                align-items: center;
                margin-top: 5px;
            }
            .details-item:last-of-type {
                margin-bottom: 5px;
            }
        }
        form {
            width: 80%;
            margin-left: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            md-outlined-text-field {
                margin-bottom: 16px;
                width: 100%;
            }
            md-filled-button {
                align-self: end;
            }
            .dialog-header {
                font-weight: bold;
                color: var(--md-sys-color-on-surface);
            }
            .onSuccess {
                color: green;
                text-align: center;
            }
        }
    }
}
