//noinspection CssUnknownTarget
@import "https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css";

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    width: 100%;
    position: fixed;
    transition: 0.3s linear;
    z-index: 40;
    //background-color: azure;
}

.active{
    top: 0;
}

.hidden{
    top: -120px;
}

#nav-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 70px;
        box-shadow: 0 0 3px black;
    }
    h1 {
        margin-left: 3%;
    }
}

.profile {
    border-radius: 50%;
    box-shadow: 0 0 6px black;
}

//noinspection CssInvalidHtmlTagReference
md-outlined-card {
    --md-card-padding: 16px;
}

#home-card, #card-skills{
    width: 90%;
    margin-left: 5%;
}

#home-card {
    margin-top: 140px;
}

.container {
    text-align: center;
    h2 {
        font-weight: normal;
    }
}

#card-skills {
    --_container-color: var(--md-card-container-color, var(--md-sys-color-surface, #ffffff));
    text-align: center;
    h2 {
        font-size: 30px;
    }
}
