#contact {
    h1 {
        text-align: center;
        margin: 15px 0 11px;
    }
    h2 {
        #icon-rocket {
            margin-bottom: -3px;
        }
        text-align: center;
        margin: 0 0 15px 0
    }
    #contact-container {
        display: flex;
        justify-content: space-around;
        #details {
            margin: 0 5%;
            h3 {
                font-size: 1.5em;
            }
            .details-item {
                display: flex;
                align-items: center;
                margin-top: 5px;
            }
            .details-item:last-of-type {
                margin-bottom: 5px;
            }
        }
        form {
            width: 80%;
            margin-left: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            md-outlined-text-field {
                margin-bottom: 16px;
                width: 100%;
            }
            md-filled-button {
                align-self: end;
            }
            .dialog-header {
                font-weight: bold;
                color: var(--md-sys-color-on-surface);
            }
            .onSuccess {
                color: green;
                text-align: center;
            }
        }
    }
}
