#navbar {
    width: 100%;
    position: fixed;
    transition: 0.3s linear;
    z-index: 1;
    background-color: var(--bg-color);
    color: var(--md-sys-color-on-surface);
    border: 1px var(--md-sys-color-on-surface) solid;
    #container-top {
        display: flex;
        justify-content: space-evenly;
        @include media("<=phone"){
            justify-content: end;
        }
    }
    #theme {
        color: var(--md-sys-color-on-surface);
        font-size: 40px;
    }
    #nav-profile {
        a {
            text-decoration: none;
            color: var(--md-sys-color-on-surface);
        }
        a:nth-of-type(2) {
            width: 100%;
        }
        display: flex;
        align-items: center;
        img {
            width: 70px;
            box-shadow: 0 0 3px black;
        }
        h1 {
            margin-left: 3%;
            font-size: 20px;
        }
        #open-menu {
            @include media(">desktop"){
                display: none;
            }
            margin-right: 10%;
        }
    }
    #navbar-buttons {
        @include media("<=desktop"){
            display: none;
        }
    }

    #navbar-span {
        @include media(">desktop") {
            display: none;
        }
        @include media("<tablet") {
            display: none;
        }
    }

}

#nav-menu {
    @include media(">desktop") {
        display: none;
    }
    h1 {
        font-size: 28px;
        text-align: center;
        margin: 16px 0 16px 16px;
    }
    span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        md-outlined-icon-button {
            margin-right: 16px;
        }
    }
    color: var(--md-sys-color-on-surface);
}
